
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<h2>Welcome to the First Bank</h2>
<h3>Here we provide high Security and high valuble to Our Customers</h3>
<a asp-controller="Home" asp-action="Index">LOGOUT</a>
